.example-page {
	margin: 0 15px;
	// https://gist.github.com/kconragan/2501349
	background-color: #f1f2f3;
	background-image: linear-gradient(rgba(0,0,0,.015) 1px, transparent 1px), linear-gradient(0, rgba(0,0,0,.015) 1px, transparent 1px);
	background-size: 5px 5px;
	background-position: -1px -1px, -1px -1px;
	padding: 0 0 120px 0;
	text-align: center;
	// end 
	p {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
	}
	li {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		margin: 0 0 15px;
		text-align: left;
	}
}

h1 {
	font-size: 1.5em;
}

.headline {
	font-size: 36px;
	margin: 30px 0;
	padding: 30px;
}

.heading {
	font-size: 2.5em;
}

.square {
	width: 500px;
	height: 500px;
}

.example-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px 15px 0;
	padding: 15px;
	background: #fff;
}

.varied-default {
	
}

.varied-default__boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.example-box__label {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	padding: 45px 15px;
}

.img-example {
	width: 200px;
	height: 200px;
}

.image-example__container {
    padding: 30px;
    display: inline-block;
    background: #fff;
    margin: 0 15px 15px 0;
}

.random-default__boxes {
	display: flex;
	justify-content: center;
}

// http://adis.ca/entry/2011/pretty-code-block-in-css/
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.section {
    margin: 120px 0;
}

.summary {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 60px;
}

.code-example {
    margin: 45px 0 0;
}

.negative-margin__container {
	padding: 60px;
}

.negative-margin__example {
	padding: 60px 0;
	& > .wire {
		margin: 0 -4px;
		text-align: center;
	}
}



@media (min-width: 799px) {

	h1 {
		font-size: 2em;
	}

}
