.wire-info {
	background: #f98b58;
	padding: 15px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	color: #f1f2f3;
	a {
		color: #f1f2f3;
		text-decoration: none;
		padding: 4px 8px;
		border: 2px solid;
		&:hover {
			background: #f1f2f3;
			color: #f98b58;
			border-color: #f1f2f3;
		}
	}
}

.container {
	margin: 0 auto;
}

.nav {
	padding: 15px;
}

.nav__content {
	display: flex;
}

.logo {
	display: flex;
	align-items: center;
	margin: 0 15px 0 0;
	span {
		padding: 9px 14px;
		&:hover {
			color: #fff;
			background: #41403E;
			cursor: pointer;
		}
	}
}

.search-bar {
	width: 50%;
	flex-grow: 1;
	input {
		padding: 8px 15px;
		width: 100%;
	}
}

.nav__links {
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
}

.nav__link {
	padding: 15px;
	cursor: pointer;
}


.content {
	display: flex;
}


// Main Column
.content__column {
	margin: 0 7.5px 0 0;
	width: 90%;
}

// header 
.header {
	position: relative;
	margin: 15px 0;
}

.hero {
	height: 300px;
}

.profile-picture {
	height: 150px;
	width: 150px;
	background: #fff;
	position: absolute;
	top: 175px;
	left: 15px;
}

.profile-picture__background {
	width: 100%;
	height: 100%;
}

.heading__links {
	display: flex;
	margin: 0 0 0 180px;
	padding: 15px 0;
	text-transform: uppercase;
}

.heading__link {
    padding: 0 30px 0 0;
}

// sidebar

.sidebar {
	margin: 15px 0 15px 7.5px;
}

.notification {
	padding: 15px;
}

// content 
.profile-content {
	display: flex;
}


// profile
.profile__heading {
	text-transform: uppercase;
	font-size: 18px;
	margin: 15px 0;
}

.profile__abouts {
	width: calc(100% / 3 - 7.5px);
	margin: 0 15px 0 0;
}

.profile__about {
	margin: 0 0 30px 0;
	padding: 15px;
}

.intro__link {
	margin: 0 0 15px;
}

.intro__featured {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 15px;
	& > * {
		padding: 15px;
	}
}

.profile__messages {
	width: calc(100% / 3  * 2 - 7.5px);
}

.about-grid {
	height: 250px;
}

// messages
.add-status {

}

.add-status__tabs {
	display: flex;
	padding: 15px;
}

.add-status__tab {
	margin: 0 15px 0 0;
}

.add-status__input {
	display: flex;
	padding: 15px;
	textarea {
		width: 100%;
		padding: 15px;
		border: 0;
		min-height: 75px;
	}
}

.add-status__input--img {
	height: 50px;
	width: 50px;
}

.add-status__submit {
	text-align: right;
	padding: 15px;
	& > * {
		padding: 8px 12px;
	}
}

// post

.post {
	padding: 15px;
	margin: 30px 0;
}

.little-profile {
	width: 50px;
	height: 50px;
}

.post__heading {
	display: flex;
	align-items: center;
}

.post__members {
	margin: 0 0 0 15px;
}

.post__image {
	height: 250px;
}

.post__links {
	display: flex;
	padding: 15px 0;
}

.post__link {
	margin: 0 15px 0 0;
}

.post__comment {
	display: flex;
	align-items: center;
	input {
		margin: 0 0 0 15px;
		padding: 11px 15px 11px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
	    width: 720px;
	    max-width: 100%;
	}

}

@media (min-width: 992px) {
	.container {
	    width: 960px;
	    max-width: 100%;
	}
}


@media (min-width: 1200px) {
	.container {
	    width: 1140px;
	    max-width: 100%;
	}
}